.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: #DDDDDD;
    
}

.filters button {
    font-size: 18px;
    background-color: #ff5a5f;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    float: right;
    margin-right: 30px;
    margin-top: 11px;
}

.filters button:hover{
    opacity: 0.9;
}