.filters { /*box style */
    background-color: white;
    height: 70px;
    width: 100%;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: #DDDDDD;
    
}

.filters button { /* search button*/
    font-size: 18px;
    background-color: #ff5a5f;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    float: right;
    margin-right: 30px;
    margin-top: 11px;
}

.filters button:hover{ /*button hover*/
    opacity: 0.9;
}

.locations { /*general style of locations*/
    height: 100%;
    width: 25%;
    border-right-color: #DDDDDD;
    border-right-width: 1px;
    border-right-style: solid;
    float: left;
    padding-left: 40px;
    position: relative;
}

.amenities { /*general style of amenities*/
    height: 100%;
    width: 25%;
    display: grid;
    padding-left: 40px;
}

.locations h3,
.amenities h3 { /*h3 style of lists*/
    font-weight: 600;
    margin-top: 11px;
    margin-bottom: 5px;
}

.locations h4,
.amenities h4 { /*h4 style of lists*/
    font-weight: 400;
    margin-top: 0px;
    font-size: 14px;
}

body section.filters ul.popover{
    visibility: hidden;
    width: 100%;
    background-color: #FAFAFA;
    border-color: #DDDDDD;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    display: grid;
    position: relative;
    z-index: 1;
}

div.locations ul.popover {
    margin: 0px;
    margin-left: -40px;
    padding-left: 40px;
    padding-bottom: 30px;
    list-style-type: none;
}
div .locations:hover ul.popover,
.amenities:hover ul.popover {
    visibility: visible;
}

div.amenities ul.popover {
    margin: 0px;
    padding-left: 60px;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-left: -40px;
    list-style-type: none;
}
