.places {
    text-align: center;
    margin-bottom: 80px;
}
.places h1 {
    text-align: left;
    font-size: 30px;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border-color: #FF5A5F;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    display: inline-block;
}

.places article h2 {
    font-size: 30px;
    margin:auto;
    text-align: center;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    display: inline-block;
    float: right;
    margin-top: -40px;
    line-height: 60px;

}

.price_by_night p{
    margin-top: -8px;
}

.information{
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    margin-top: 40px;
    margin-bottom: 20px;
}

.information .max_guest{
    width: 100px;
    background-image: url(../images/icon_group.png);
    background-repeat: no-repeat;
    background-position: center top;
    display: inline-block;
    margin-top: 5px;
}

.information .number_rooms{
    width: 100px;
    background-image: url(../images/icon_bed.png);
    background-repeat: no-repeat;
    background-position: center top;
    display: inline-block;
}

.information .number_bathrooms{
    width: 100px;
    background-image: url(../images/icon_bath.png);
    background-repeat: no-repeat;
    background-position: center top;
    display: inline-block;
}

.information .max_guest p,
.information .number_rooms p,
.information .number_bathrooms p{
    padding-top:30px;
    text-align:center;
}

article div.user p,
article div.description p {
    text-align: left;
    margin: 0px;
}